<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <services>
      <service name="WcfProxy.Service.DataService" behaviorConfiguration="debug">
        <endpoint address="" binding="wsHttpBinding" contract="WcfProxy.Contract.IDataService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="WcfProxy.Contract.IDataService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9007/DataService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>